@{
    ViewData["Title"] = "About";
}



<section class="content-row meeting-landing">
    <div class="row">
        <div class="large-12 medium-12 small-12 columns">

            <h1 class="contrast">@ViewData["Title"]</h1>

        </div>
    </div>

</section>
<section class="content-row row">
    <div class="large-7 medium-8 small-12 columns">
        <h2>Dunedin Microsoft Ignite! Community</h2>
        <p>
            The Dunedin Ignite! group is a user community focussed on the Microsoft stack: the .Net framework, Azure, 
            SQL Server, Dynamics CRM / NAV&hellip;  
        </p>
        <p>
            The objectives of this group are:
        </p>
        <ul>
            <li>To bring software professionals and learners together to talk, network and collaborate</li>
            <li>To explore and discover new technology based around the Microsoft stack</li>
            <li>To get excited about new ideas and learn new tricks, secrets and concepts</li>
        </ul>
        <h3>Be Nice Policy</h3>
        <p>
            Dunedin's Ignite! Community is dedicated to providing a harassment-free experience for everyone, regardless 
            of gender, gender identity and expression, sexual orientation, disability, physical appearance, race, or religion. 
            We do not tolerate harassment of attendees in any form. Sexual language and imagery is not appropriate for any 
            forum, including talks and online discussion. 
        </p>
        <p>
            Attendees violating these rules may be sanctioned or excluded from the group at the discretion of the organisers.
        </p>
    </div>
    <div class="large-5 medium-4 small-12 columns">
        <h3>Technical Info</h3>
        <div class="callout">
            <h4>Password Storage Statement</h4>
            <p>
                <abbr title="Password-Based Key Derivation Function 2"><a href="https://en.wikipedia.org/wiki/PBKDF2" target="_blank">PBKDF2</a></abbr> with
                <abbr title="Hash-based message authentication code">HMAC</abbr>&ndash;SHA-1, 128 bit salt, 256-bit subkey, 1000 iterations.
            </p>
        </div>
    </div>
</section>