@{
    ViewData["Title"] = "Error";
}

<section class="content-row meeting-landing">
    <div class="row">
        <div class="large-12 medium-12 small-12 columns">

            <h1 class="contrast">@ViewData["Title"]</h1>

        </div>
    </div>

</section>
<section>
    <div class="row">

        <div class="large-12 medium-12 small-12 columns">

            <h1 class="text-danger">Error</h1>
            <h2 class="text-danger">We&rsquo;re very sorry an error occurred while processing your request.</h2>

        </div>

    </div>
</section>
