@{
    ViewData["Title"] = "Forgot Password Confirmation";
}


<section class="content-row meeting-landing">
    <div class="row">
        <div class="large-12 medium-12 small-12 columns">

            <h1 class="contrast">@ViewData["Title"]</h1>

        </div>
    </div>

</section>
<section class="content-row row">
    <div class="large-9 medium-8 small-12 columns">
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</section>